# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Java class files
*.class

# IntelliJ IDEA
*.iws
/out/

# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.src/main/java/BotInformation.java