#Defaults
bin/
build/
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

#Gradle
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
gradle/
gradlew
gradlew.bat
settings.gradle

#Sensitive
src/main/java/BotInformation.java
